# PROJET CORONAVIRUS

## ETAPE 1 - EXPLORATORY DATA ANALYSIS

## 0. PRISE EN MAIN

In [12]:
# Chargement des librairies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [13]:
#  chargement du dataset
dfcorona = pd.read_excel('dataset.xlsx')

In [15]:
# affichage brut
dfcorona

,Patient ID,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hematocrit,Hemoglobin,Platelets,Mean platelet volume,...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
0,44477f75e8169d2,13,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,126e9dd13932f68,17,negative,0,0,0,0.236515,-0.022340,-0.517413,0.010677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a46b4402a0e5696,8,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f7d619a94f97c45,5,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d9e41465789c2b5,15,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,ae66feb9e4dc3a0,3,positive,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5640,517c2834024f3ea,17,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5641,5c57d6037fe266d,4,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5642,c20c44766f28291,10,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5643,2697fdccbfeb7f7,19,positive,0,0,0,0.694287,0.541564,-0.906829,-0.325903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Dimensions
dfcorona.shape

(5644, 111)

##### Dimensions :
- **5644** lignes
- **111** colonnes

In [17]:
# noms des colonnes
for i in range(dfcorona.shape[1]):
    print(dfcorona.columns[i])

Patient ID
Patient age quantile
SARS-Cov-2 exam result
Patient addmited to regular ward (1=yes, 0=no)
Patient addmited to semi-intensive unit (1=yes, 0=no)
Patient addmited to intensive care unit (1=yes, 0=no)
Hematocrit
Hemoglobin
Platelets
Mean platelet volume
Red blood Cells
Lymphocytes
Mean corpuscular hemoglobin concentration (MCHC)
Leukocytes
Basophils
Mean corpuscular hemoglobin (MCH)
Eosinophils
Mean corpuscular volume (MCV)
Monocytes
Red blood cell distribution width (RDW)
Serum Glucose
Respiratory Syncytial Virus
Influenza A
Influenza B
Parainfluenza 1
CoronavirusNL63
Rhinovirus/Enterovirus
Mycoplasma pneumoniae
Coronavirus HKU1
Parainfluenza 3
Chlamydophila pneumoniae
Adenovirus
Parainfluenza 4
Coronavirus229E
CoronavirusOC43
Inf A H1N1 2009
Bordetella pertussis
Metapneumovirus
Parainfluenza 2
Neutrophils
Urea
Proteina C reativa mg/dL
Creatinine
Potassium
Sodium
Influenza B, rapid test
Influenza A, rapid test
Alanine transaminase
Aspartate transaminase
Gamma-glutamyltransferase
Total Bilirubin
Direct Bilirubin
Indirect Bilirubin
Alkaline phosphatase
Ionized calcium
Strepto A
Magnesium
pCO2 (venous blood gas analysis)
Hb saturation (venous blood gas analysis)
Base excess (venous blood gas analysis)
pO2 (venous blood gas analysis)
Fio2 (venous blood gas analysis)
Total CO2 (venous blood gas analysis)
pH (venous blood gas analysis)
HCO3 (venous blood gas analysis)
Rods #
Segmented
Promyelocytes
Metamyelocytes
Myelocytes
Myeloblasts
Urine - Esterase
Urine - Aspect
Urine - pH
Urine - Hemoglobin
Urine - Bile pigments
Urine - Ketone Bodies
Urine - Nitrite
Urine - Density
Urine - Urobilinogen
Urine - Protein
Urine - Sugar
Urine - Leukocytes
Urine - Crystals
Urine - Red blood cells
Urine - Hyaline cylinders
Urine - Granular cylinders
Urine - Yeasts
Urine - Color
Partial thromboplastin time (PTT)
Relationship (Patient/Normal)
International normalized ratio (INR)
Lactic Dehydrogenase
Prothrombin time (PT), Activity
Vitamin B12
Creatine phosphokinase (CPK)
Ferritin
Arterial Lactic Acid
Lipase dosage
D-Dimer
Albumin
Hb saturation (arterial blood gases)
pCO2 (arterial blood gas analysis)
Base excess (arterial blood gas analysis)
pH (arterial blood gas analysis)
Total CO2 (arterial blood gas analysis)
HCO3 (arterial blood gas analysis)
pO2 (arterial blood gas analysis)
Arteiral Fio2
Phosphor
ctO2 (arterial blood gas analysis)

In [18]:
# brève description
dfcorona.head()

,Patient ID,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hematocrit,Hemoglobin,Platelets,Mean platelet volume,...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
0,44477f75e8169d2,13,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,126e9dd13932f68,17,negative,0,0,0,0.236515,-0.02234,-0.517413,0.010677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a46b4402a0e5696,8,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f7d619a94f97c45,5,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d9e41465789c2b5,15,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# résumé rapide des variables quantitatives
dfcorona.describe()

,Patient age quantile,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hematocrit,Hemoglobin,Platelets,Mean platelet volume,Red blood Cells,Lymphocytes,...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
count,5644.000000,5644.000000,5644.000000,5644.000000,6.030000e+02,6.030000e+02,6.020000e+02,5.990000e+02,6.020000e+02,6.020000e+02,...,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.000000e+01,2.000000e+01,2.700000e+01
mean,9.318391,0.013997,0.008859,0.007264,-2.186214e-09,-1.601319e-08,-3.535004e-10,7.438142e-09,8.424447e-09,-7.866736e-09,...,-1.379737e-10,8.416397e-09,-1.655685e-09,4.139211e-10,-7.472139e-09,6.070843e-09,-2.469729e-08,4.656613e-09,6.332993e-09,5.243001e-09
std,5.777903,0.117489,0.093713,0.084929,1.000830e+00,1.000830e+00,1.000832e+00,1.000836e+00,1.000832e+00,1.000832e+00,...,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.025978e+00,1.025978e+00,1.019049e+00
min,0.000000,0.000000,0.000000,0.000000,-4.501420e+00,-4.345603e+00,-2.552426e+00,-2.457575e+00,-3.970608e+00,-1.865070e+00,...,-1.999560e+00,-1.244817e+00,-3.082674e+00,-3.568877e+00,-2.925618e+00,-2.985592e+00,-1.175907e+00,-1.532932e+00,-1.480526e+00,-2.900254e+00
25%,4.000000,0.000000,0.000000,0.000000,-5.188074e-01,-5.862439e-01,-6.053457e-01,-6.624832e-01,-5.679496e-01,-7.307069e-01,...,-1.122574e+00,-5.348102e-01,-3.308668e-01,-9.210583e-02,-5.117720e-01,-5.397211e-01,-8.169898e-01,-1.214975e-01,-5.527296e-01,-4.852787e-01
50%,9.000000,0.000000,0.000000,0.000000,5.340703e-02,4.031596e-02,-1.217160e-01,-1.015171e-01,1.385207e-02,-1.426696e-02,...,2.677689e-01,-2.120799e-01,-1.181667e-02,2.942021e-01,7.743482e-02,5.633191e-02,-1.599549e-01,-1.174366e-02,-1.381825e-01,1.826928e-01
75%,14.000000,0.000000,0.000000,0.000000,7.171751e-01,7.295320e-01,5.314981e-01,6.838353e-01,6.661759e-01,5.976919e-01,...,7.383496e-01,2.305214e-02,6.661649e-01,5.115003e-01,4.385609e-01,5.085100e-01,4.500090e-01,-1.174366e-02,2.763648e-01,5.937525e-01
max,19.000000,1.000000,1.000000,1.000000,2.662704e+00,2.671868e+00,9.532034e+00,3.713052e+00,3.645706e+00,3.764100e+00,...,1.337265e+00,3.236524e+00,1.703078e+00,1.042674e+00,1.940087e+00,2.029471e+00,2.205371e+00,2.841856e+00,2.862350e+00,1.826932e+00

In [28]:
# résumé de toutes les variables
dfcorona.describe(include='all')

,Patient ID,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hematocrit,Hemoglobin,Platelets,Mean platelet volume,...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
count,5644,5644.000000,5644,5644.000000,5644.000000,5644.000000,6.030000e+02,6.030000e+02,6.020000e+02,5.990000e+02,...,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.000000e+01,2.000000e+01,2.700000e+01
unique,5644,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,1c52085e86a9d23,NaN,negative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,5086,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,9.318391,NaN,0.013997,0.008859,0.007264,-2.186214e-09,-1.601319e-08,-3.535004e-10,7.438142e-09,...,-1.379737e-10,8.416397e-09,-1.655685e-09,4.139211e-10,-7.472139e-09,6.070843e-09,-2.469729e-08,4.656613e-09,6.332993e-09,5.243001e-09
std,NaN,5.777903,NaN,0.117489,0.093713,0.084929,1.000830e+00,1.000830e+00,1.000832e+00,1.000836e+00,...,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.025978e+00,1.025978e+00,1.019049e+00
min,NaN,0.000000,NaN,0.000000,0.000000,0.000000,-4.501420e+00,-4.345603e+00,-2.552426e+00,-2.457575e+00,...,-1.999560e+00,-1.244817e+00,-3.082674e+00,-3.568877e+00,-2.925618e+00,-2.985592e+00,-1.175907e+00,-1.532932e+00,-1.480526e+00,-2.900254e+00
25%,NaN,4.000000,NaN,0.000000,0.000000,0.000000,-5.188074e-01,-5.862439e-01,-6.053457e-01,-6.624832e-01,...,-1.122574e+00,-5.348102e-01,-3.308668e-01,-9.210583e-02,-5.117720e-01,-5.397211e-01,-8.169898e-01,-1.214975e-01,-5.527296e-01,-4.852787e-01
50%,NaN,9.000000,NaN,0.000000,0.000000,0.000000,5.340703e-02,4.031596e-02,-1.217160e-01,-1.015171e-01,...,2.677689e-01,-2.120799e-01,-1.181667e-02,2.942021e-01,7.743482e-02,5.633191e-02,-1.599549e-01,-1.174366e-02,-1.381825e-01,1.826928e-01
75%,NaN,14.000000,NaN,0.000000,0.000000,0.000000,7.171751e-01,7.295320e-01,5.314981e-01,6.838353e-01,...,7.383496e-01,2.305214e-02,6.661649e-01,5.115003e-01,4.385609e-01,5.085100e-01,4.500090e-01,-1.174366e-02,2.763648e-01,5.937525e-01
max,NaN,19.000000,NaN,1.000000,1.000000,1.000000,2.662704e+00,2.671868e+00,9.532034e+00,3.713052e+00,...,1.337265e+00,3.236524e+00,1.703078e+00,1.042674e+00,1.940087e+00,2.029471e+00,2.205371e+00,2.841856e+00,2.862350e+00,1.826932e+00

In [27]:
# affichage des infos
print(dfcorona.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5644 entries, 0 to 5643
Columns: 111 entries, Patient ID to ctO2 (arterial blood gas analysis)
dtypes: float64(70), int64(4), object(37)
memory usage: 4.8+ MB
None

In [31]:
# afficher toutes les moyennes des valeurs quantitatives
#fonction call back
def moyenne(x):
    return(x.mean())

#appel de la fonction sur l'ensemble des colonnes du DataFrame
#axis = 0 ==> chaque colonne sera transmise à la fonction operation()
#la selection select_dtypes() permet d'exclure les variables non numériques
resultat = dfcorona.select_dtypes(exclude=['object']).apply(moyenne,axis=0)
print(resultat)

Patient age quantile                                     9.318391e+00
Patient addmited to regular ward (1=yes, 0=no)           1.399717e-02
Patient addmited to semi-intensive unit (1=yes, 0=no)    8.858965e-03
Patient addmited to intensive care unit (1=yes, 0=no)    7.264352e-03
Hematocrit                                              -2.186214e-09
                                                             ...
HCO3 (arterial blood gas analysis)                       6.070843e-09
pO2 (arterial blood gas analysis)                       -2.469729e-08
Arteiral Fio2                                            4.656613e-09
Phosphor                                                 6.332993e-09
ctO2 (arterial blood gas analysis)                       5.243001e-09
Length: 74, dtype: float64

In [ ]:
#  affiche les graphs de seaborn pour toutes les variables
# sns.pairplot(dfcorona)
# plt.show()

### 1.1. ANALYSE DE LA FORME

#### 1.1.1. IDENTIFICATION DE LA TARGET

In [ ]:
# la variable TARGET est 'SARS-Cov-2 exam result'

### TARGET = 'SARS-Cov-2 exam result'

#### 1.1.2. NOMBRE DE LIGNES ET COLONNES

In [20]:
print('Nombre de lignes :',dfcorona.shape[0])
print('Nombre de colonnes :',dfcorona.shape[0])

Nombre de lignes : 5644
Nombre de colonnes : 5644

#### 1.1.3. Types de variables

In [26]:
print('Nom variable  : type')
for i in range(dfcorona.shape[1]):
    print(dfcorona.columns[i], ' : ', dfcorona.dtypes[i])

Nom variable  : type
Patient ID  :  object
Patient age quantile  :  int64
SARS-Cov-2 exam result  :  object
Patient addmited to regular ward (1=yes, 0=no)  :  int64
Patient addmited to semi-intensive unit (1=yes, 0=no)  :  int64
Patient addmited to intensive care unit (1=yes, 0=no)  :  int64
Hematocrit  :  float64
Hemoglobin  :  float64
Platelets  :  float64
Mean platelet volume   :  float64
Red blood Cells  :  float64
Lymphocytes  :  float64
Mean corpuscular hemoglobin concentration (MCHC)  :  float64
Leukocytes  :  float64
Basophils  :  float64
Mean corpuscular hemoglobin (MCH)  :  float64
Eosinophils  :  float64
Mean corpuscular volume (MCV)  :  float64
Monocytes  :  float64
Red blood cell distribution width (RDW)  :  float64
Serum Glucose  :  float64
Respiratory Syncytial Virus  :  object
Influenza A  :  object
Influenza B  :  object
Parainfluenza 1  :  object
CoronavirusNL63  :  object
Rhinovirus/Enterovirus  :  object
Mycoplasma pneumoniae  :  float64
Coronavirus HKU1  :  object
Parainfluenza 3  :  object
Chlamydophila pneumoniae  :  object
Adenovirus  :  object
Parainfluenza 4  :  object
Coronavirus229E  :  object
CoronavirusOC43  :  object
Inf A H1N1 2009  :  object
Bordetella pertussis  :  object
Metapneumovirus  :  object
Parainfluenza 2  :  object
Neutrophils  :  float64
Urea  :  float64
Proteina C reativa mg/dL  :  float64
Creatinine  :  float64
Potassium  :  float64
Sodium  :  float64
Influenza B, rapid test  :  object
Influenza A, rapid test  :  object
Alanine transaminase  :  float64
Aspartate transaminase  :  float64
Gamma-glutamyltransferase   :  float64
Total Bilirubin  :  float64
Direct Bilirubin  :  float64
Indirect Bilirubin  :  float64
Alkaline phosphatase  :  float64
Ionized calcium   :  float64
Strepto A  :  object
Magnesium  :  float64
pCO2 (venous blood gas analysis)  :  float64
Hb saturation (venous blood gas analysis)  :  float64
Base excess (venous blood gas analysis)  :  float64
pO2 (venous blood gas analysis)  :  float64
Fio2 (venous blood gas analysis)  :  float64
Total CO2 (venous blood gas analysis)  :  float64
pH (venous blood gas analysis)  :  float64
HCO3 (venous blood gas analysis)  :  float64
Rods #  :  float64
Segmented  :  float64
Promyelocytes  :  float64
Metamyelocytes  :  float64
Myelocytes  :  float64
Myeloblasts  :  float64
Urine - Esterase  :  object
Urine - Aspect  :  object
Urine - pH  :  object
Urine - Hemoglobin  :  object
Urine - Bile pigments  :  object
Urine - Ketone Bodies  :  object
Urine - Nitrite  :  object
Urine - Density  :  float64
Urine - Urobilinogen  :  object
Urine - Protein  :  object
Urine - Sugar  :  float64
Urine - Leukocytes  :  object
Urine - Crystals  :  object
Urine - Red blood cells  :  float64
Urine - Hyaline cylinders  :  object
Urine - Granular cylinders  :  object
Urine - Yeasts  :  object
Urine - Color  :  object
Partial thromboplastin time (PTT)   :  float64
Relationship (Patient/Normal)  :  float64
International normalized ratio (INR)  :  float64
Lactic Dehydrogenase  :  float64
Prothrombin time (PT), Activity  :  float64
Vitamin B12  :  float64
Creatine phosphokinase (CPK)   :  float64
Ferritin  :  float64
Arterial Lactic Acid  :  float64
Lipase dosage  :  float64
D-Dimer  :  float64
Albumin  :  float64
Hb saturation (arterial blood gases)  :  float64
pCO2 (arterial blood gas analysis)  :  float64
Base excess (arterial blood gas analysis)  :  float64
pH (arterial blood gas analysis)  :  float64
Total CO2 (arterial blood gas analysis)  :  float64
HCO3 (arterial blood gas analysis)  :  float64
pO2 (arterial blood gas analysis)  :  float64
Arteiral Fio2  :  float64
Phosphor  :  float64
ctO2 (arterial blood gas analysis)  :  float64

#### 1.1.4. Identification des valeurs manquantes

In [48]:
# Nombre total de cellules vides dans le dataframe
nbr_cel_nan = sum(dfcorona.isna().values.ravel())
print('Nombre total de cellules vides : ', nbr_cel_nan)

Nombre total de cellules vides :  551682

In [41]:
#  OU Nombre total de cellule avec valeurs manquantes :
nbr_cel_nan = sum(dfcorona.isnull().values.ravel())
print('Nombre total de cellules vides : ', nbr_cel_nan)

Nombre total de cellules vides :  551682

In [ ]:
# Nombre de ligne ayant au moins une valeur manquante
df.apply(lambda x: sum(x.isnull().values), axis = 0) # For columns
df.apply(lambda x: sum(x.isnull().values), axis = 1) # For rows

In [ ]:
# Nombre de colonnes ayant au moins une valeur manquante

### 1.2. ANALYSE DU FOND

#### 1.2.1. VISUALISATION DE LA TARGET (histo ou boxplot)

#### 1.2.2. COMPREHENSION DES DIFFERENTES VARIABLES

#### 1.2.3. VISUALISATION DES RELATIONS FEATURES-TARGET

#### 1.2.4. IDENTIFICATION DES OUTLIERS