In [2]:
villes = ['Paris', 'Berlin', 'Londres', 'Bruxelles']

In [4]:
# pour avoir les méthodes des liste . plus Tab
# Ajouter éléments à la fin
villes.append('Dublin')

In [5]:
# Afficher la liste
villes

['Paris', 'Berlin', 'Londres', 'Bruxelles', 'Dublin', 'Dublin']

In [10]:
# ajouter un élément à la liste à l'index 2
villes.insert(2, 'Madrid')
villes

['Paris',
 'Berlin',
 'Madrid',
 'Madrid',
 'Londres',
 'Bruxelles',
 'Dublin',
 'Dublin']

In [11]:
villes

['Paris',
 'Berlin',
 'Madrid',
 'Madrid',
 'Londres',
 'Bruxelles',
 'Dublin',
 'Dublin']

In [13]:
# Ajouter une liste elle-même à la fin d'une liste
villes_2=['Amsterdam', 'Rome']
villes.extend(villes_2)
villes

['Paris',
 'Berlin',
 'Madrid',
 'Madrid',
 'Londres',
 'Bruxelles',
 'Dublin',
 'Dublin',
 'Amsterdam',
 'Rome']

In [14]:
# nombre d'éléments dans la liste
len(villes)

10

In [15]:
# trier la liste alpha asc, desc
villes.sort() # alpha par défaut
villes

['Amsterdam',
 'Berlin',
 'Bruxelles',
 'Dublin',
 'Dublin',
 'Londres',
 'Madrid',
 'Madrid',
 'Paris',
 'Rome']

In [17]:
# trier liste par alph desc
villes.sort(reverse=True)
villes

['Rome',
 'Paris',
 'Madrid',
 'Madrid',
 'Londres',
 'Dublin',
 'Dublin',
 'Bruxelles',
 'Berlin',
 'Amsterdam']

In [19]:
liste_2 = [52, 51, 23, 61, 3, 2, 78, 24] # du plus petit au plus grand
liste_2.sort()
liste_2

[2, 3, 23, 24, 51, 52, 61, 78]

In [20]:
# compter le nombre de fois une valeur dans laliste
villes.count('Dublin')

2

In [21]:
# trouver si un élément est dans une liste
if 'Paris' in villes:
    print('Oui')
else: 
    print('Non')

Oui

In [22]:
# afficher toutes les villes
for i in villes:
    print(i)

Rome
Paris
Madrid
Madrid
Londres
Dublin
Dublin
Bruxelles
Berlin
Amsterdam

In [24]:
# afficher index et valeur
for index, valeur in enumerate(villes):
    print(index, valeur)

0 Rome
1 Paris
2 Madrid
3 Madrid
4 Londres
5 Dublin
6 Dublin
7 Bruxelles
8 Berlin
9 Amsterdam

In [25]:
# zip : utiliser la boucle for avec 2 listes en parallèle
# la bloucle for s'arrête sur la liste la plus courte
for a, b in zip(villes, liste_2):
    print(a, b)

Rome 2
Paris 3
Madrid 23
Madrid 24
Londres 51
Dublin 52
Dublin 61
Bruxelles 78

In [26]:
def fibonacci(n):
    a = 0
    b = 1
    while a < n:
       print(a)
       a, b = b, a + b

fibonacci(1000)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987

In [44]:
def fibonacci(n):
    a = 0
    b = 1
    liste=[a]
    while a < n :
       print('a :',a)
       a, b = b, a + b
       if (a < n):
           liste.append(a)
    print(liste)

fibonacci(1000)

a : 0
a : 1
a : 1
a : 2
a : 3
a : 5
a : 8
a : 13
a : 21
a : 34
a : 55
a : 89
a : 144
a : 233
a : 377
a : 610
a : 987
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

In [1]:
def fibonacci(n):
    """
    Suite de Fibonacci jusqu'à n.

    Parameters
    ----------
    n : TYPE int
        DESCRIPTION. nombre

    Returns
    -------
    fib : la liste de la suite de fibonacci jusqu'à n.
    """
    a,b = 0, 1
    fib=[]
    while a<n:
        fib.append(a)
        a, b = b, a+b
    return fib

In [2]:
def classer(classeur, nombre):
    """
    Range le nombre transmis dans positif ou négatif

    Parameters
    ----------
    classeur : dictionnaire contenant 2 listes
               positif et négatif.
    nombre : entier, nimbre à classe

    Returns
    -------
    classeur : dictionnaire, nombre rangé dans = ou -
    """
    if nombre>=0:
        classeur['positif'].append(nombre)
    else:
        classeur['negatif'].append(nombre)
    return classeur